[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]

[packages]
jupyter = "*"
conda = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.5"
